body, html {
	background: #111;
}

fieldset.action {
	background: #666;
	border-color: #444 #000 #000 #444;
}

fieldset {
	color: #ccc;
	background:#333;
	border:1px solid #000;
	border-color: #444 #000 #000 #444;
}

.label {
	color: #fff;
}

.legend, legend {
	background:#00316d;
	color:#fff;
	border:1px solid #000;
	border-color:#081981 #07124f #07124f #081981;
}

.NFButton {
	color:#fff;
	background:url(../img/button_dark.png) repeat-x 0 0;
}
.NFButtonLeft {background:url(../img/button-left_dark.png) no-repeat 0 0;}
.NFButtonRight {background:url(../img/button-right_dark.png) no-repeat 0 0;}


hr { background-color: #050c34; }

.provision_title {
	color: #fff;
}

